{% extends 'base.html' %} {% block content %}

<h1>Award Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title"
          >{{ award.adjective }} {{ award.category }}</span
        >
      </div>
      <div class="card-action">
        <a href="{% url 'award_update' award.id %}">Edit</a>
        <a href="{% url 'award_delete' award.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
