@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Inconsolata&display=swap");

:root {
  --pop-color: pink;
  --div-background: rgba(255, 255, 255, 0.694);
  --title-text: black;
  --title-font: "Cormorant SC", serif;
  --content-text: rgb(84, 50, 125);
  --content-font: "Inconsolata", monospace;
  --content-size: 20px;
  --footer-bc: rgba(255, 255, 255, 0.358);
  --card-border: white;
  --bg--img: url("https://i.imgur.com/Fcjfkgi.jpg");
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: pink;
  background-image: var(--bg--img);
  background-size: cover;
}

nav {
  background-image: var(--bg--img);
  box-shadow: 2px 2px 10px white;
  font-family: var(--title-font);
}

main {
  flex: 1 0 auto;
  color: white;
}

h1,
h3 {
  font-family: var(--title-font);
  font-weight: 800;
  text-shadow: 3px 3px 10px var(--pop-color);
}

form {
  background-color: var(--div-background);
  border: 2px solid white;
}

table {
  font-family: var(--content-font);
}

label {
  color: var(--content-text);
  font-size: x-large;
}

form input,
table input,
td,
input[type="number"]:not(.browser-default),
input[type="text"]:not(.browser-default) {
  color: var(--content-text);
  font-family: var(--content-font);
  font-size: x-large;
}

textarea {
  color: var(--content-text);
  font-family: var(--content-font);
}

footer {
  padding-top: 0;
  text-align: right;
  font-family: var(--title-font);
}

#card-title {
  font-size: 35px;
}

#card-action a {
  text-decoration: none;
  color: var(--pop-color);
}

#about {
  height: 60vh;
  background-color: var(--div-background);
  color: var(--content-text);
  font-family: var(--content-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 800;
}

#about img {
  width: 50%;
  border: 5px solid white;
}

.dropdown-content,
.select-dropdown li span,
.confirmation-btns button {
  color: var(--content-text);
}

.datepicker-date-display,
.is-today button {
  background-color: var(--pop-color);
}

.striped thead {
  background-color: var(--div-background);
  color: var(--content-text);
  font-size: var(--content-size);
}

.helptext {
  color: var(--content-text);
}

.index {
  display: grid;
  grid-template-rows: repeat(3, 30%);
}

.index .card {
  margin: 2%;
  display: flex;
  align-items: center;
}

.card {
  background-color: var(--div-background);
  border: 6px solid var(--card-border);
  font-family: var(--content-font);
  font-size: var(--content-size);
}

.card-content {
  color: var(--content-text);
}

.card-action form {
  background-color: var(--div-background);
  border: none;
}

.main-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--div-background);
}

.main-wrapper a {
  font-family: var(--content-text);
  font-size: 2em;
  color: var(--content-text);
  text-shadow: 4px 4px 3px var(--pop-color);
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}

.main-wrapper a:hover {
  font-size: 2.5em;
}

.main-wrapper img {
  width: 50%;
  border: 5px solid white;
  margin-bottom: 3em;
}

.btn {
  background-color: var(--pop-color);
  color: white;
}

.page-footer {
  background-color: var(--footer-bc);
}
